.subnavigation 
{
    align-items: center;
    display: flex;
    background-color: var(--color-standard-background);
    box-shadow: var(--shadow-box);
    flex-wrap: wrap;
    padding: 0.5em;
    position: sticky;
    align-content: center;
    top: 0; 
    z-index: 3;
}
.subnavigation button
{
    background-color: var(--color-light-background);
    padding: var(--spacing-standard);
    margin: var(--spacing-standard);
    width: auto;
}
.subnavigation .current
{
    color: var(--color-light-accent);
}
.subnavigation .divider
{
    color: var(--color-standard-text);
    font-size: var(--scale-expanded);
    font-weight: var(--weight-thin);
    margin: var(--spacing-minimal);
    z-index: 3;
}