main .card
{
    text-align: center;
    padding: var(--spacing-double);
    margin: var(--spacing-double);
}
.card .branding
{
    justify-content: center;
    margin: 0rem;
}
.card .branding .title
{
    font-size: clamp(2rem, 4vw, 4rem);
    width: 60rem;
}
.ribbon
{
    margin-top: auto;
}
@media (max-width: 900px) 
{
    .card .branding .title
    {
        width: 90rem;
    }
}
@media (max-width: 700px) 
{
    .card .branding .title
    {
        width: auto;
    }
}