/* Core */
#information, #form
{
    background-color: var(--color-standard-accent);
    flex-basis: 50%;
}
#form .interface
{
    display: flex;
    flex-direction: column;
}
#form textarea
{
    height: 10vh;
    max-width: 90%;
}
#form #status
{
    font-size: var(--scale-single);
    padding: var(--spacing-single);
}
#form #submit
{
    align-self: center;
    background-color: var(--color-dark-accent);
    font-size: var(--scale-magnified);
    font-style: italic;
    font-weight: var(--weight-bold);
    margin: 0.var(--spacing-standard);
    height: 2.5rem;
}
#form .disclaimer
{
    margin-top: var(--spacing-single);
}
#form .error
{
    color: red;
    font-weight: bold;
}
#form .success
{
    color: green;
    font-weight: bold;
}
/* Information */
#information a
{
    color: var(--color-standard-text);
    font-weight: var(--weight-standard);
    font-size: var(--scale-standard);
}
#information #links
{
    background-color: var(--color-dark-accent);
    font-size: var(--scale-single);
    margin: var(--spacing-single);
    padding: var(--spacing-double);
}
/* Fields */
.field 
{
    display: flex;
    flex-direction: column;
    margin: var(--spacing-single);
    width: auto;
}
.field label
{
    text-align: left;
}
.field .interface 
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.field .options 
{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.options .condensed
{
    flex-grow: 1;
    margin: 0;
    width: 100%;
}
.field .checkbox
{
    accent-color: var(--color-standard-accent);
    border-style: none;
    box-shadow: none;
    height: 1.5rem;
    width: 1.5rem;
}
/* Responsiveness */
@media (max-width: 1000px) 
{
    #form #moniker
    {
        flex-direction: column;
    }
    #form .options
    {
        gap: 0;
    }
    #form .condensed
    {
       width: 95%;
       margin: var(--spacing-single);
    }
}