input, textarea
{
    background-color: var(--color-standard-text);
    border-radius: var(--border-button);
    border-style: none;
    box-shadow: var(--shadow-box);
    color: var(--color-dark-background);
    height: var(--spacing-double);
    margin: var(--spacing-standard);
    padding: 0 1rem;
    width: auto;
}
textarea
{
    padding: var(--spacing-double);
    height: auto;
    width: auto;
}
input:hover, textarea:hover
{
    box-shadow: var(--shadow-box-hover);
}