<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LifeSimulator | Template</title>
        <link rel="icon" type="image/x-icon" href="../Assets/Icons/favicon.ico">
        <!-- Core -->
        <!-- Page CSS goes here -->
        <link rel="stylesheet" href="../Styles/Core/accessibility.css">
        <link rel="stylesheet" href="../Styles/Core/layout.css">
        <link rel="stylesheet" href="../Styles/Core/theme.css">
        <!-- Components -->
        <link rel="stylesheet" href="../Styles/Components/buttons.css">
        <link rel="stylesheet" href="../Styles/Components/card.css">
        <link rel="stylesheet" href="../Styles/Components/flex.css">
        <!-- Scripts -->
        <script src="../Scripts/accessibility.js" defer></script>
        <script src="../Scripts/layout.js" defer></script>
    </head>
    <body id="body">
        <div id="accessibility"></div>
        <header id="header"></header>
        <main id="content"></main>
        <footer id="footer"></footer>
    </body>
</html>